<h1 class="mt-5">Employees</h1>
<button  class="btn btn-outline-primary" (click)="showHideToggle = !showHideToggle">
  <span *ngIf="!showHideToggle">Show Employees</span><span *ngIf="showHideToggle">Hide Employees</span>
</button>
<button class="btn btn-outline-primary" routerLink="/employees/create">Create New Employee</button>
<br/>
<div *ngIf="showHideToggle">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Image Url</th>
      <th scope="col">Image Thumbnail</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row">{{employee.name}}</th>
        <td>{{employee.title}}</td>
        <td>{{employee.imageUrl}}</td>
        <td><img src="{{employee.imageUrl}}" onError="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg';"  alt="..." />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br/>

